<div class="nav-bar-container">
    <button class="nav-bar-button" routerLink="/landing" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</button>
    <button class="nav-bar-button" routerLink="/education" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Education</button>
    <button class="nav-bar-button" routerLink="/inventory" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inventory</button>
    <button class="nav-bar-button" routerLink="/skills" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Skills</button>
    <button class="nav-bar-button" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</button>
</div>
