@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');

/* Global styles and theme tokens */
:root{
    --text: #e6eef8;
}

body,
html {
    margin: 0;
    padding: 0;
    background: #8c8c8c;
    background: radial-gradient(circle at 50% 80%,
            rgb(83, 83, 83) 0%,
            rgb(2, 0, 24) 60%,
            rgba(0, 0, 0, 1) 100%);
    color: var(--text);
}